/* styles.css */

/* Add custom CSS styles for the navigation menu */
header {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}

nav li {
    text-align: center;
    flex: 1;
    margin: 10px 0; /* Add space between menu items */
}

nav li a {
    display: block;
    color: #fff;
    padding: 10px; /* Adjust the padding for mobile */
    text-decoration: none;
    background-color: #333;
}

nav li a:hover {
    background-color: #4CAF50;
    transition: background-color 0.3s;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px; /* Adjust the position as needed */
        right: 0;
        width: 100%;
    }
}
/* Make the form responsive for mobile */
/*main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 768px) {
    main form {
        /* Adjust styles for mobile devices */
        display: block; /* Example: change display to block for smaller screens */
        margin: 10px; /* Example: add margin for spacing */
        padding: 10px; /* Example: add padding for spacing */
        max-width: 100%; /* Example: make form width 100% of the container */
        /* Add more styles as needed for mobile layout */
    }
}

main form input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    width: 50%;
    max-width: 50px; /* Adjust the maximum width as needed */
}

main form button {
    padding: 10px;
    width: 50%;
    max-width: 50px; /* Adjust the maximum width as needed */
}

/* Adjust the footer for mobile */
footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
*/
